.chart {
    width: 350px;
    height: 200px;
    margin-left: auto;
    margin-bottom: 100px;
}

.chart svg {
    margin-bottom: 10px;
}

.chart-title {
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
}

.chart-title span {
    margin-right: 10px;
}

.dash {
    color: white;
    margin-left: 2px;
    margin-right: 2px;
}
