.tab-button {
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid black;
    transition: all 0.3s;
    position: relative;
    width: 110px;
    height: 29px;
}

.short {
    width: 80px;
}

.tab-button:last-child {
    margin-right: 0;
}

.tab-button-selected {
    background-color: lightskyblue;
}

.tab-icon-wrapper, .tab-title-wrapper {
    display: inline-block;
    position: absolute;
    width: 100%;
    transition: all 0.3s;
}

.tab-icon-wrapper {
    z-index: 2;
}

.tab-button-selected .tab-icon-wrapper {
    transform: translate(calc(100% - 26px));
}

.tab-button-selected .tab-title-wrapper {
    transform: translate(-26px);
}

.tab-icon {
    display: inline-block;
    background-color: black;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
}

.tab-title {
    padding: 5px;
    position: absolute;
    margin-left: 26px;
    z-index: 1;
}
