.service {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.service:last-child {
    margin-bottom: 0;
}

.service-name {
    margin-right: 20px;
}
