.status-circle {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
}

.color-1 {
    background-color: green;
}

.color-2 {
    background-color: yellow;
}

.color-3 {
    background-color: red;
}
